exportPattern("^[[:alpha:]]+")
import(Rcpp)
import(BiocManager)
import(mzR)
import(grid)
import(readxl)
import(parallel)
import(doSNOW)
import(foreach)
import(ggplot2)
import(gridExtra)
import(png)
import(stats)
importFrom("grDevices", "colorRampPalette", "png", "rainbow")
importFrom("graphics", "boxplot", "lines", "par", "title")
importFrom("utils", "setTxtProgressBar", "txtProgressBar", "write.csv")
